* {
    margin: 0;
    padding: 0;
}

body , nav {
    display: block;
}

header nav {
    background-color: #eee;
    width: 100%;
    position: relative;
    top: 0;
}

header nav ul {
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

header nav li {
    float: left;
    display: flex;
}

header nav a {
    font-size: 20px;
    padding: 10px;
    display: block;
    width: 200px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

header nav a:hover {
    background-color: rgb(63, 165, 255);
}

body {
    background-color: #81BEFF;
    color: #0a080d;
    line-height: 150%;
}

h1 {
    margin-top: 25px;
    margin-bottom: 50px;
    padding-left: 47%;
}

.img {
    display: block;
    float: right;
    margin-right: 10px;
}

figcaption {
    font-size: 18px;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

.list {
    margin: 20px 0 20px 200px;
    width: 900px;
}

.list ol li {
    margin: 30px;
}

.form {
    padding: 20px;
}

form {
    padding-top: 20px;
    padding-left: 700px;
}

